<footer class="footer">
    <section class="footer_con">
        <div>
            <h1>zenDesk</h1>
        </div>
        <section class="socials">
            <div>
                <img src="/assets/icons/facebook.svg" alt="" />
            </div>
            <div>
                <img src="/assets/icons/twitter.svg" alt="" />
            </div>
            <div>
                <img src="/assets/icons/github.svg" alt="" />
            </div>
        </section>
    </section>
    <div class="copy">
        <p>© 2023 zenDesk. All rights reserved.</p>
    </div>
</footer>
